<h1>Все книги</h1>
<h2>@Model.currCategory</h2>
@{
    foreach (var book in Model.allBooks) {
        <h3>Название: @book.name</h3>
        <p>Цена: @book.price.ToString("c")</p>
        <p>Автор: @book.author</p>
    }
}
