[*.cs]

# IDE0058: Значение выражения никогда не используется
csharp_style_unused_value_expression_statement_preference = discard_variable:none

# MVC1005: Cannot use UseMvc with Endpoint Routing.
dotnet_diagnostic.MVC1005.severity = none
